@model MvcProject.ViewModels.CreateBookViewModel
@{
    ViewBag.Title = "Adding book";
}
<form asp-action="AddBook" asp-controller="Books">
    <div asp-validation-summary="All" class="text-danger"></div>
    
    <div class="form-group">
        <label asp-for="Name" class="control-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Author" class="control-label">Author</label>
        <input type="text" asp-for="Author" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Year" class="control-label">Year</label>
        <input type="text" asp-for="Year" class="form-control" />
    </div>
    <div class="row">
        <div class="form-group ml-3">
            <input type="submit" value="Save" class="btn btn-outline-dark btn-sm" />
        </div>
        <div class="form-group ml-2">
            <input type="submit" value="Cancel" asp-action="Index" class="btn btn-danger btn-sm" />
        </div>
    </div>
</form>